h1{
    color:rgba(185, 181, 181, 0.5)
}
input{
    border-color: rgba(218, 207, 207, 0.5);
}

.hoja{
    background-color: white;
    position:absolute;
    height: 90%;
    width: 90%;
    left: 5%
}
.hoja1{
    background-color: rgba(3, 1, 15, 0);
    position:absolute;
    border-radius: 3%;
    height: 87%;
    width: 90%;
    left: 5%;
    box-shadow: 0 2px 5px 0
}

.hoja2{
    position:absolute;
    border-radius: 3%;
    height: 88%;
    width: 90%;
    left: 5%;
    box-shadow: 0 2px 5px 0
}

.hoja3{
    position:absolute;
    border-radius: 3%;
    height: 89%;
    width: 90%;
    left: 5%;
    box-shadow: 0 2px 5px 0
}
.hoja4{
    position:absolute;
    border-radius: 3%;
    height: 90%;
    width: 90%;
    left: 5%;
    box-shadow: 0 2px 5px 0
}