.hoja{
    background-color: rgba(31, 29, 29, 0);
    position:absolute;
    border-radius: 2%;
    height: 80%;
    width: 80%;
    left: 10%;
}
.hoja1{
    background-color: rgba(3, 1, 15, 0);
    position:absolute;
    border-radius: 2%;
    height: 80%;
    width: 80%;
    left: 10%;
    box-shadow: 0 2px 5px 0;
    z-index: 1;
}

.hoja2{
    position:absolute;
    border-radius: 2%;
    height: 81%;
    width: 78%;
    left: 11%;
    box-shadow: 0 2px 5px 0;
    z-index: 2;
}

.hoja3{
    position:absolute;
    border-radius: 2%;
    height: 82%;
    width: 76%;
    left: 12%;
    box-shadow: 0 2px 5px 0;
    z-index: 3;
}
.hoja4{
    position:absolute;
    border-radius: 2%;
    height: 83%;
    width: 74%;
    left: 13%;
    box-shadow: 0 2px 5px 0;
    z-index: 3;
}